<div class="modal-header">
    <h4 class="modal-title">Himbauan...!!!</h4>
    <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    Bagi pelamar yang mengupload berkas tambahan, hanya pelamar yang namanya tercantum pada Pengumuman Evaluasi Berkas yang akan diproses. 
    Bagi pelamar yang namanya tidak tercantum maka berkas tidak akan diproses.
</div>