<aside class="page-sidebar">
    <partial name="_Logo" />

    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <partial name="_NavFilter" />
        <partial name="_NavInfoCard" />
        @if (User.IsInRole("SysAdmin"))
        {
            <partial name="~/Views/Sidebar/SysAdmin.cshtml" />
        } else if (User.IsInRole("PPBJ"))
        {
            <partial name="~/Views/Sidebar/PPBJ.cshtml" />
        } else if (User.IsInRole("PjlpAdmin"))
        {
            <partial name="~/Views/Sidebar/PjlpAdmin.cshtml" />
        } else
        {
            <partial name="~/Views/Sidebar/Pjlp.cshtml" />
        }
               
    </nav>
    <!-- END PRIMARY NAVIGATION -->

    <!-- NAV FOOTER -->
    <partial name="_NavFooter" />
    <!-- END NAV FOOTER -->
</aside>