@using System.Security.Claims

<div class="info-card">    
    <div class="info-card-text">
        <a href="#" class="d-flex align-items-center text-white">
            <span class="text-truncate text-truncate-sm d-inline-block">
                @{
                    #nullable disable
                    if (User.Identity.IsAuthenticated) {
                        @(((ClaimsIdentity)User.Identity!).Claims.Where(c => c.Type == "given_name").Select(c => c.Value).SingleOrDefault())
                    }
                }
            </span>
        </a>
        <span class="d-inline-block text-truncate text-truncate-sm">
            @if (User.IsInRole("PjlpAdmin") || User.IsInRole("SysAdmin") || User.IsInRole("Kepeg")) {
                <span>Admin System</span>
            } else if (User.IsInRole("PjlpUser")) {
                <span>User PJLP</span>
            }
        </span>
    </div>
    <img src="~/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
    <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
        <i class="fal fa-angle-down"></i>
    </a>
</div>
