@page "/pegawai/pjlp/details/personal"
@page "/pegawai/pjlp/details"

<div class="panel">
    <div class="panel-hdr bg-primary-700 bg-success-gradient" role="heading">
        <h2>Biodata</h2>
    </div>
</div>
