@{
    ViewData["Title"] = "Master Agama";
    ViewData["PageName"] = "master_agama";
    ViewData["Category1"] = "Master";
    ViewBag.Parent = "Master";
    ViewBag.Title = "Agama";
}

@section styles {
    <link rel="stylesheet" href="~/css/datagrid/datatables/datatables.bundle.css" />
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
}

<!--Modal Window-->
<div id='myModal' class='modal fade in' data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="row">    
    <div class="col-xl-12">
        <button class="btn btn-primary showMe" style="margin-bottom:20px;" data-href="/master/agama/create">Tambah Agama</button>
        <div id="panel-1" class="panel">
            <div class="panel-hdr" role="heading">
                <h2>Master Data Agama</h2>                
            </div>
            <div class="panel-container show">
                <div id="listContent" class="panel-content">
                    <table id="tblAgama" class="table table-striped table-bordered" data-page-length="5">
                        <thead>
                            <tr>
                                <th style="width: 15%;">ID Agama</th>
                                <th>Nama Agama</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/pages/master/agama.js"></script>
    <script src="~/js/modalForm.js"></script>
    <script>
        $('#js-page-content').smartPanel();        
    </script>
}