@{
    Layout = "_Layout";
}

<section class="content">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Selamat Datang di System E-PJLP</h1>
        </div>
    </div>
</section>