@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logo-dinas.ico">
    <link rel="mask-icon" href="~/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <title>Simpeg Dinas Lingkungan Hidup DKI Jakarta</title>
    <link rel="stylesheet" type="text/css" href="~/css/home-1.0.1.css" />
  </head>

<body id="body">
    <!-- Header -->
    <header>
        <nav>
            <div class="logos">
                <img src="~/images/home/dlh.png" alt="Logo DLH" class="logo" />
                <img src="~/images/home/jss.png" alt="Logo DLH" class="logo" />
            </div>
            <ul>
                <a href="/login" class="btn green">
                <li>Masuk</li>
                </a>
                <a href="https://akun.dinaslhdki.id/Identity/Account/RegisterPJLP/?returnUrl=https://ekinerjapjlp.jakarta.go.id/dashboard"
                   class="btn orange">
                <li>Daftar</li>
                </a>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <h1 class="animate-up">Rekrutmen 2023</h1>
        <h2 class="animate-up">Dinas Lingkungan Hidup Provinsi DKI Jakarta</h2>
        <a href="#lowongan" class="lowongan animate-float">Cek Sekarang</a>
        <img src="~/images/home/gambar.png" alt="" class="illustrator" />
        <img src="~/images/home/bg-asset.svg" alt="" class="bg-asset-1" />
        <img src="~/images/home/bg-asset.svg" alt="" class="bg-asset-2" />
        <img src="~/images/home/jakarta.png" alt="" class="jakarta" />
        <img src="~/images/home/daur.png" alt="" class="daur" />
        <img src="~/images/home/pila.png" alt="" class="pila" />
    </main>

    <section id="lowongan">
        <h1>Lowongan</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">Sudin JU</h2>
                            <div class="kuota">72</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 05 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Petugas Pengolah Sampah 3R</p>
                            <p>12</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Petugas Kebersihan Lingkungan Hidup</p>
                            <p>18</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Petugas Dipo</p>
                            <p>8</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Germor</p>
                            <p>23</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Operator Alat Berat</p>
                            <p>11</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">Sudin JT</h2>
                            <div class="kuota">46</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 05 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>KRU</p>
                            <p>11</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Petugas Pengolah Sampah 3R</p>
                            <p>10</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Petugas Keamanan</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Truk Compactor (Besar/Kecil)</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Mobil Lintas</p>
                            <p>7</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Germor</p>
                            <p>13</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">Sudin JB</h2>
                            <div class="kuota">38</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 05 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Petugas Dipo</p>
                            <p>5</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Mobil Lintas</p>
                            <p>7</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Germor</p>
                            <p>8</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengawas Kebersihan</p>
                            <p>7</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Montir/Teknisi</p>
                            <p>9</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Streer Sweeper/Washer</p>
                            <p>2</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">Sudin JS</h2>
                            <div class="kuota">13</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 05 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Mobil Lintas</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Lain-lain (persampahan)</p>
                            <p>4</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Germor</p>
                            <p>5</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Dump Truck Typer (besar/kecil)</p>
                            <p>2</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">Sudin JP</h2>
                            <div class="kuota">21</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 05 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Mobil Lintas</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Lain-lain (persampahan)</p>
                            <p>6</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Germor</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Dump Truck Typer (besar/kecil)</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengawas Kebersihan</p>
                            <p>5</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Operator Alat Berat</p>
                            <p>4</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="long">Sudin Pulau Seribu</h2>
                            <div class="kuota">18</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 05 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Germor</p>
                            <p>8</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengemudi Dump Truck Typer (besar/kecil)</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Pengawas Kebersihan</p>
                            <p>5</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Operator Alat Berat</p>
                            <p>3</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="counter">
        <div class="card">
            <div class="card-header">Quick Count Pelamar</div>
            <div class="card-body">
                <div class="wrapper">
                    <p class="bidang">PSM</p>
                    <p class="total">129</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">UPST</p>
                    <p class="total">1355</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">Bidang TLK</p>
                    <p class="total">224</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">LLHD</p>
                    <p class="total">79</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">UPK Badan Air</p>
                    <p class="total">3528</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            ©2022
            <a href="https://lingkunganhidup.jakarta.go.id/">Dinas Lingkungan Hidup</a>
        </p>

        <p>
            Jl. Mandala V No.67, RT.1/RW.2, Cililitan, Kec. Kramat jati,<br />Kota
            Jakarta Timur,Daerah Khusus Ibukota Jakarta 13640
        </p>
        <p>
            <span>Telp : (021) 8092744</span>
            <span>Email : dinaslh@jakarta.go.id</span>
        </p>
    </footer>

    <a href="#body" class="top">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <path d="M13.1 29.65q-.45-.45-.475-1.05-.025-.6.425-1.05l9.9-9.9q.25-.25.5-.35.25-.1.55-.1.3 0 .55.1.25.1.5.35l9.9 9.85q.45.4.45 1.025 0 .625-.45 1.075-.45.45-1.075.45T32.8 29.6L24 20.85l-8.8 8.85q-.4.45-1.025.425-.625-.025-1.075-.475Z" />
        </svg>
    </a>
    <script>
        // Script ketika scroll (navbar dan to the top)
        // document.querySelector(".top").style.opacity = "1";
        window.addEventListener("scroll", () => {
            if (window.scrollY > 130) {
                document.querySelector("header").classList.add("solid");
                document.querySelector(".top").style.opacity = "1";
                document.querySelector(".top").style.visibility = "visible";
            } else {
                document.querySelector("header").classList.remove("solid");
                document.querySelector(".top").style.opacity = "0";
                document.querySelector(".top").style.visibility = "hidden";
            }
        });

        const totals = document.querySelectorAll(".total");
        totals.forEach((total) => {
            total.innerHTML = parseInt(total.innerHTML).toLocaleString("en-US");
        });
    </script>
</body>
</html>
