@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logo-dinas.ico">
    <link rel="mask-icon" href="~/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <title>Simpeg Dinas Lingkungan Hidup DKI Jakarta</title>
    <link rel="stylesheet" type="text/css" href="~/css/home-1.0.0.css" />
  </head>

<body id="body">
    <!-- Header -->
    <header>
        <nav>
            <img src="~/images/home/dlh.png" alt="Logo DLH" width="50px" />
            <ul>
                <a href="/login" class="btn green">
                    <li>Masuk</li>
                </a>
                <a href="#"
                   class="btn orange">
                   <li>Daftar</li>
                </a>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <h1 class="animate-up">Recruitment 2022</h1>
        <h2 class="animate-up">Dinas Lingkungan Hidup Provinsi DKI Jakarta</h2>
        <a href="#lowongan" class="lowongan animate-float">Cek Sekarang</a>
        <img src="~/images/home/gambar.png" alt="" class="illustrator" />
        <img src="~/images/home/bg-asset.svg" alt="" class="bg-asset-1" />
        <img src="~/images/home/bg-asset.svg" alt="" class="bg-asset-2" />
        <img src="~/images/home/jakarta.png" alt="" class="jakarta" />
    </main>

    <section id="lowongan">
        <h1>Lowongan</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">UPK</h2>
                            <div class="kuota">30</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 20 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">UPST</h2>
                            <div class="kuota">30</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 20 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">LLHD</h2>
                            <div class="kuota">30</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 20 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="">asd</h2>
                            <div class="kuota">30</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 20 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>
                                Petugas Sampah Kali Saluran Mikro agung gumelar start with
                                finish
                            </p>
                            <p>123</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <div class="header">
                            <h2 class="long">
                                UPK BADAN AIR SAMPAI SEJAHTERA RUANGANNYA DIATAS LEBIH
                                TEPATNYA DI LANTAI 4
                            </h2>
                            <div class="kuota">30</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tanggal">
                            <div class="due">
                                <span>Mulai: 20 Desember 2022</span><span>Berakhir: 31 Desember 2022</span>
                            </div>
                            <span class="icon-tanggal">📅</span>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <div class="detail-jabatan border-bottom">
                            <p>Lorem ipsum dolor sit amet.</p>
                            <p>50</p>
                        </div>
                        <a href="#" class="syarat">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="counter">
        <div class="card">
            <div class="card-header">Quick Count Pelamar</div>
            <div class="card-body">
                <div class="wrapper">
                    <p class="bidang">Bidang PSM</p>
                    <p class="total">12143</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">Bidang UPST</p>
                    <p class="total">33551</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">Bidang TLK</p>
                    <p class="total">112314</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">Bidang LLHD</p>
                    <p class="total">112314</p>
                </div>
                <div class="wrapper">
                    <p class="bidang">Bidang XYZ</p>
                    <p class="total">112314</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            ©2022 -
            <a href="https://lingkunganhidup.jakarta.go.id/">Dinas Lingkungan Hidup</a>
        </p>

        <p>
            Jl. Mandala V No.67, RT.1/RW.2, Cililitan, Kec. Kramat jati,<br />Kota
            Jakarta Timur,Daerah Khusus Ibukota Jakarta 13640
        </p>
        <p>
            <span>Telp : (021) 8092744</span>
            <span>Email : dinaslh@jakarta.go.id</span>
        </p>
    </footer>

    <a href="#body" class="top">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <path d="M13.1 29.65q-.45-.45-.475-1.05-.025-.6.425-1.05l9.9-9.9q.25-.25.5-.35.25-.1.55-.1.3 0 .55.1.25.1.5.35l9.9 9.85q.45.4.45 1.025 0 .625-.45 1.075-.45.45-1.075.45T32.8 29.6L24 20.85l-8.8 8.85q-.4.45-1.025.425-.625-.025-1.075-.475Z" />
        </svg>
    </a>
    <script>
        // Script ketika scroll (navbar dan to the top)
        // document.querySelector(".top").style.opacity = "1";
        window.addEventListener("scroll", () => {
            if (window.scrollY > 130) {
                document.querySelector("header").classList.add("solid");
                document.querySelector(".top").style.opacity = "1";
                document.querySelector(".top").style.visibility = "visible";
            } else {
                document.querySelector("header").classList.remove("solid");
                document.querySelector(".top").style.opacity = "0";
                document.querySelector(".top").style.visibility = "hidden";
            }
        });

        const totals = document.querySelectorAll(".total");
        totals.forEach((total) => {
            total.innerHTML = parseInt(total.innerHTML).toLocaleString("en-US");
        });
    </script>
</body>
</html>
