@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/logo-dinas.ico">
    <link rel="mask-icon" href="~/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css" />
    <script src="~/plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <title>Simpeg Dinas Lingkungan Hidup DKI Jakarta</title>

    <link rel="stylesheet" type="text/css" href="~/css/home-1.0.2.css" />
  </head>

<body id="body">
    <!-- Header -->
    <header>
        <nav>
            <div class="logos">
                <img src="~/images/home/dlh.png" alt="Logo DLH" class="logo" />
                <img src="~/images/home/jss.png" alt="Logo DLH" class="logo" />
            </div>
            <ul>
                <a href="/login" class="tombol green">
                    <li>Masuk</li>
                </a>
                <a asp-action="Daftar" asp-controller="Home" class="tombol orange">
                    <li>Daftar</li>
                </a>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <h1 class="animate-up">Rekrutmen 2023</h1>
        <h2 class="animate-up">Dinas Lingkungan Hidup Provinsi DKI Jakarta</h2>
        <a href="#lowongan" class="lowongan animate-float">Cek Sekarang</a>
        <img src="~/images/home/gambar.png" alt="" class="illustrator" />
        <img src="~/images/home/bg-asset.svg" alt="" class="bg-asset-1" />
        <img src="~/images/home/bg-asset.svg" alt="" class="bg-asset-2" />
        <img src="~/images/home/jakarta.png" alt="" class="jakarta" />
        <img src="~/images/home/daur.png" alt="" class="daur" />
        <img src="~/images/home/pila.png" alt="" class="pila" />
    </main>

    <section id="lowongan">
        <h1>Lowongan</h1>

        <div class="sekadis text-center">
            <a href="~/attachment/SE_KaDis_LH_(2022)_No._126_Ttg_Persyaratan_&_Kriteria_Pengadaan_PJLP TA_2023.pdf" target="_blank" class="tombol orange">Cek SE Kadis Dinas LH</a>
        </div>        
        
        <div class="baris">
            

            <!-- Sekretariat -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">SEKRETARIAT</h2>
                            <div class="kuota">6</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan Kantor</p>
                            <p>5</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Keamanan Kantor</p>
                            <p>1</p>
                        </div>
                        <a href="~/attachment/Sekretariat/Pengumuman_PJLP_Baru_Sekretariat.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- Bidang PK -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Bidang Pengelolaan Kebersihan</h2>
                            <div class="kuota">3</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Kebersihan (Pengawas Barang / Aset)</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Kru (Dukungan Toilet Berjalan)</p>
                            <p>2</p>
                        </div>
                        <a href="~/attachment/pk/05.PENGUMUMAN_PJLP_Baru_Bidang_PK_revisi.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
            
            <!-- Jakarta Pusat -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Sudin Jakarta Pusat</h2>
                            <div class="kuota">47</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Kebersihan</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Kru</p>
                            <p>40</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Pengolah Sampah 3R</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Germor</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Keamanan</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan</p>
                            <p>1</p>
                        </div>
                        <a href="~/attachment/pusat/Pengumuman_Penerimaan_PJLP_Pelamar_Baru_TA_2023.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- Jakarta Barat -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Sudin Jakarta Barat</h2>
                            <div class="kuota">31</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Tipper</p>
                            <p>7</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Compactor</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Kru</p>
                            <p>13</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Kebersihan</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Dipo</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Keamanan Kantor / Security</p>
                            <p>5</p>
                        </div>
                        <a href="~/attachment/barat/Pengumuman_Sudin_Barat_Rekruitmen_PJLP_2023.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- Jakarta Utara -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Sudin Jakarta Utara</h2>
                            <div class="kuota">40</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Kru</p>
                            <p>31</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Dipo</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan Kantor</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Germor</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Pengelola Sampah 3R</p>
                            <p>2</p>
                        </div>
                        <a href="~/attachment/utara/Draft_Pengumuman_Penerimaan_PJLP_Sudin_LH_Utara_TA-2023(Pelamar_Existing&Pelamar_Baru)_FIX.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- P1000 -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Pulau Seribu</h2>
                            <div class="kuota">13</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Juri Mudi Kapal</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Kepala Kamar Mesin</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Sampah Pesisir</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Lain-lain(Truk Tangki Kapal)</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Anak Buah Kapal</p>
                            <p>1</p>
                        </div>
                        <a href="~/attachment/p1000/Draft_Pengumuman_Penerimaan_PJLP_Sudin_LH_P1000_TA-2023_(Existing_&_Pelamar_Baru)(8_Desember2022)_FIX.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- Jakarta Selatan -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Sudin Jakarta Selatan</h2>
                            <div class="kuota">43</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Kru</p>
                            <p>17</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Dump Truck Tipper (besar/kecil)</p>
                            <p>16</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Truck Compactor (besar/kecil)</p>
                            <p>4</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Mobil Lintas</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Lingkungan</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Pengolah Sampah 3R</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Keamanan Kantor</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan Kantor</p>
                            <p>1</p>
                        </div>
                        <a href="~/attachment/selatan/Sudin_Selatan_Penerimaan_PJLP_Baru_dan_Lama_2023_rev.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- Jakarta Timur -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">Sudin Jakarta Timur</h2>
                            <div class="kuota">45</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>KRU</p>
                            <p>17</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Kebersihan</p>
                            <p>4</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Dump Truk(Besar/Kecil)</p>
                            <p>9</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Germor</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Truk Arm Roll (Besar/Kecil)</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Keamanan</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan Kantor</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Pengolah Sampah 3R</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Operator Alat Berat</p>
                            <p>3</p>
                        </div>
                        <a href="~/attachment/timur/persyaratan/Undangan_PJLP_2023.docx.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                        <a href="~/attachment/timur/pengadaan/Dokumen_Sudin_Timur_Pengadaan_PJLP_2023.pdf" target="_blank" class="syarat mt-5">Dokumen Pengadaan</a>
                    </div>
                </div>
            </div>

            <!-- UPST -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">UPST</h2>
                            <div class="kuota">57</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Lain-lain</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Operator Alat Berat</p>
                            <p>19</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Montir / Teknisi</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Persada</p>
                            <p>8</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Kebersihan</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Operator Timbangan</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Instalasi Pengolahan Air Sampah</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengawas Titik Buang dan Perapihan</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Pengolah Sampah 3R</p>
                            <p>6</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan Kantor</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Kru</p>
                            <p>3</p>
                        </div>
                        <a href="~/attachment/upst/Pengumuman PJLP_2023_UPST_Baru_9_des.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- UPK BA -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">UPK Badan Air</h2>
                            <div class="kuota">116</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Kendaraan Dump Truk / Typper (Besar/Kecil)</p>
                            <p>3</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Pengemudi Kendaraan Mobil Lintas</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Keamanan Alat Berat</p>
                            <p>5</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Operator Alat Berat</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Operator Saringan Sampah</p>
                            <p>2</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>Petugas Keamanan Kantor</p>
                            <p>1</p>
                        </div>
                        <div class="detail-jabatan border-top">
                            <p>
                                Petugas Sampah Kali / Pesisir / Laut / Waduk / Penghubung /
                                Saluran Mikro
                            </p>
                            <p>102</p>
                        </div>
                        <a href="~/attachment/upkba/Draft_Pengumuman_Penerimaan_PJLP_PKBA_TA-2023_(Existingl)_(8_Desember2022)_dan_Pelama_Baru_Fix.pdf" target="_blank" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>

            <!-- UPT LLHD -->
            <div class="kolom">
                <div class="kartu">
                    <div class="kartu-title">
                        <div class="header">
                            <h2 class="long">UPT LLHD</h2>
                            <div class="kuota">1</div>
                        </div>
                    </div>
                    <div class="kartu-body">
                        <div class="detail-jabatan border-top">
                            <p>Petugas Kebersihan Dalam Gedung</p>
                            <p>1</p>
                        </div>
                        <a href="javascript:void(0);" class="syarat mt-5">Lihat Persyaratan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="counter">
      <div class="kartu">
        <div class="kartu-header">Quick Count Pelamar</div>
        <div class="kartu-body">
          <div class="wrapper">
            <p class="bidang">Sudin Pusat</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">Sudin Timur</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">Sudin Barat</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">Sudin Utara</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">Sudin Selatan</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">Pulau Seribu</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">UPST</p>
            <p class="total">0</p>
          </div>
          <div class="wrapper">
            <p class="bidang">LLHD</p>
            <p class="total">0</p>
          </div>
        </div>
      </div>
    </div> -->

    <footer>
        <p>
            ©2022
            <a href="https://lingkunganhidup.jakarta.go.id/">Dinas Lingkungan Hidup</a>
        </p>

        <p>
            Jl. Mandala V No.67, RT.1/RW.2, Cililitan, Kec. Kramat jati,<br />Kota
            Jakarta Timur,Daerah Khusus Ibukota Jakarta 13640
        </p>
        <p>
            <span>Telp : (021) 8092744</span>
            <span>Email : dinaslh@jakarta.go.id</span>
        </p>
    </footer>

    <a href="#body" class="top">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <path d="M13.1 29.65q-.45-.45-.475-1.05-.025-.6.425-1.05l9.9-9.9q.25-.25.5-.35.25-.1.55-.1.3 0 .55.1.25.1.5.35l9.9 9.85q.45.4.45 1.025 0 .625-.45 1.075-.45.45-1.075.45T32.8 29.6L24 20.85l-8.8 8.85q-.4.45-1.025.425-.625-.025-1.075-.475Z" />
        </svg>
    </a>
    <script>
        // Script ketika scroll (navbar dan to the top)
        // document.querySelector(".top").style.opacity = "1";
        window.addEventListener("scroll", () => {
            if (window.scrollY > 130) {
                document.querySelector("header").classList.add("solid");
                document.querySelector(".top").style.opacity = "1";
                document.querySelector(".top").style.visibility = "visible";
            } else {
                document.querySelector("header").classList.remove("solid");
                document.querySelector(".top").style.opacity = "0";
                document.querySelector(".top").style.visibility = "hidden";
            }
        });

        const totals = document.querySelectorAll(".total");
        totals.forEach((total) => {
            total.innerHTML = parseInt(total.innerHTML).toLocaleString("en-US");
        });
    </script>
</body>
</html>
