<ul id="js-nav-menu" class="nav-menu">
    <li class='@(ViewBag.Title == "Overview" ? "active" : "")'>
        <a asp-action="Overview" asp-controller="Pendaftaran" title="Tinjauaan" data-filter-tags="Tinjauan">
            <i class="fal fa-home"></i>
            <span class="nav-link-text" data-i18n="nav.tinjauan">Tinjauan</span>
        </a>

    </li>
    <li class='@(ViewBag.Title == "Berkas" ? "active" : "")'>
        <a asp-action="Berkas" asp-controller="Pendaftaran" title="Dashboard" data-filter-tags="Berkas">
            <i class="fal fa-files"></i>
            <span class="nav-link-text" data-i18n="nav.berkas">Berkas</span>
        </a>    
    </li>
</ul>