@page "/pegawai/pjlp/details"
@namespace PjlpCore.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Pages/Admin/PjlpLayout.cshtml";
}

<component type="typeof(PjlpCore.Pages.Admin.Routed)" render-mode="ServerPrerendered" />

<body>
    <persist-component-state />
</body>
