@inherits LayoutComponentBase

<partial name="~/Views/Shared/_ScriptsLoadingSaving.cshtml" />
<ScriptLoading />

<div class="row">
    <div class="col-md-3 col-sm-12">
        <NavMenu />
    </div>

    <div class="col-md-9 col-sm-12">
        @Body
    </div>
</div>

